*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to left top, #662D8C , #ED1E79);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .form {
        position: relative;
        z-index: 1;
        background: rgba(240,240,240);
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        height: 50%;
        width: 50%;
        border-radius: 15px;
      }
      form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    
      .fill{
        background-color: #662D8C;
        color: white;
       
        overflow-y: hidden;
      }
      .divide{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        height: 60%;
      }
      .formm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
      }
      .in{
        background: linear-gradient(to top right,#662D8C , #ED1E79);
        color: white;
      }
      .up{
        background: linear-gradient(to top right,#662D8C , #ED1E79);
        color: white;
      }